.product-list-page {
    position: relative;

    /* Makes the container a positioning context */
    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 42px;
        line-height: 67.2px;
    }


    &__content {
        max-width: 1200px;
        margin: 2rem auto;
        padding: 0 1rem;
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 2rem;
    }

    .cart-overlay__background {
        position: absolute;
        /* Scoped to product-list-page */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
    }
}